@model SignUpDTO
@{
	@* Set Title will send to layout *@
    ViewData["Title"] = "SignUp";
	Layout = "_Layout1";
}

@* for validation *@
<div asp-validation-summary ="All" class="m-3 alert alert-info">
	</div>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignUp">
			<input class="text" asp-for="UserName" placeholder="User Name" required="">
			<input class="text" asp-for="FirstName" placeholder="First Name" required="">
			<input class="text" asp-for="LastName" placeholder="Last Name" required="">
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			
			<div class="wthree-text">
				<div class="checkbox-container">
					<input type="checkbox" asp-for="IsAgree"  required>
					<label asp-for="IsAgree">I Agree To The Terms & Conditions</label>
				</div>
				<div class="clear"></div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Don't have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>
@section ValidationScripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
